<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location data is securely stored on your device and lets you analyze your location history.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location data is securely stored on your device and lets you analyze your location history.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
        <key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2023 Aperture Beam Technologies, Inc.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
