/* Global default styles applied to all elements, which can be overridden */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neutral-900;
    }
}

/* Make the attribution more dark-mode friendly */
.mapboxgl-ctrl-attrib.mapboxgl-compact, .maplibregl-ctrl-attrib.maplibregl-compact {
    background-color: rgba(255,255,255,.5);
}

.mapboxgl-ctrl-attrib-button, .maplibregl-ctrl-attrib-button {
    background-color: hsla(0,0%,100%,0);
}

/* Make the compass dark-mode friendly */
.mapboxgl-ctrl-group, .maplibregl-ctrl-group {
    background: rgba(255,255,255,0.5);
}
