/* Global default styles applied to all elements, which can be overridden */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neutral-900;
    }
}

/* Attribution */

/* Dark background */
.mapboxgl-ctrl-attrib.mapboxgl-compact,
.maplibregl-ctrl-attrib.maplibregl-compact {
    background-color: rgba(0,0,0,.5);
}

/* Even on non-compact attrib */
.mapboxgl-ctrl.mapboxgl-ctrl-attrib,
.maplibregl-ctrl.maplibregl-ctrl-attrib {
    background-color: rgba(0,0,0,.5);
}

/* Light attribution text */
.mapboxgl-ctrl-attrib a,
.maplibregl-ctrl-attrib a {
    color: rgba(255,255,255,.5);
}

/* Dark show/hide button using invert(1) */
.mapboxgl-ctrl-attrib.mapboxgl-compact .mapboxgl-ctrl-attrib-button,
.maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-button {
    filter: invert(1);
    box-shadow: none;
    opacity: 0.5;
    background-color: rgba(0,0,0,0);
}

/* Compass control */

/* Make the compass dark-mode friendly */
.mapboxgl-ctrl-group, .maplibregl-ctrl-group {
    filter: invert(1);
    opacity: 0.5;
    @apply rounded-lg;
}

/* Remove the box shadow */
.mapboxgl-ctrl-group:not(:empty), .maplibregl-ctrl-group:not(:empty) {
    box-shadow: none;
}

/* Make the compass a little bigger */
.mapboxgl-ctrl-group button, .maplibregl-ctrl-group button {
    @apply h-10 w-10;
}
