/bazel-*

**/*.xcodeproj

user.bazelrc

# Rust
# Based on https://github.com/github/gitignore/blob/main/Rust.gitignore

# compiled files and executables
src/app/stem/target
src/app/stem/debug

src/app/stem/front/target
src/app/stem/front/debug
src/app/stem/front/dist


# rustfmt backup files
**/*.rs.bk

# rust-analyzer
rust-project.json

# bazel profiling
profile.json
