# secrets
/.env
*.mobileprovision

/bazel-*

user.bazelrc

# generated xcode project
**/*.xcodeproj

# rustfmt backup files
**/*.rs.bk

# rust-analyzer
/rust-project.json

# bazel profiling
/profile.json

# dependency graph
/graph_pruned.png

# generated development database
/src/app/stem/db
/src/app/stem/.env

# osm data
/src/server/tiles/build

# cached third party js libraries
/src/app/stem/front/static/maplibre-gl.css
/src/app/stem/front/static/maplibre-gl.js
/src/app/stem/front/static/plotly.min.js

# cached jni_bind header
/src/app/android/jni/jni_bind_release.h
