/bazel-*

user.bazelrc

# generated xcode project
**/*.xcodeproj

# rustfmt backup files
**/*.rs.bk

# rust-analyzer
/rust-project.json

# bazel profiling
/profile.json

# dependency graph
/graph_pruned.png
